* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
  }
  
  body {
    background-color: black;
  }
  
  nav {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 3rem;
    position: relative;
    margin: 2% 2%;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 0 10px;
  }
  
  .pic {
    padding: 1rem 0 1rem 2rem;
  }
  
  .InWeb {
    flex-grow: 1;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .OtherLinks {
    white-space: nowrap;
    margin: 1rem 2rem 1rem;
  }
  
  .profiepic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  @media screen and (max-width: 600px) {
    .pic {
      padding: 1rem 0 1rem 1rem;
    }
    
    .OtherLinks {
      margin-right: 5px;
    }
  }
  
  .main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin: 3rem;
  }
  
  .intro {
    flex-grow: 1;
    padding: 0rem 0rem 0rem 6rem;
  }
  
  .intro h3 {
    margin: 0;
    color: aquamarine;
  }
  
  .intro h1 {
    margin: 0px;
    color: whitesmoke;
    font-size: xx-large;
  }
  
  .intro p {
    margin: 0.5rem 0rem 0rem 0rem;
    color: #9c9c9c;
    font-size: larger;
  }
  
  .intro button {
    color: aquamarine;
    border-radius: 9px;
    background-color: black;
    width: 7rem;
    height: 2.5rem;
    border-color: aquamarine;
    border: solid;
    border-width: 1px;
  }
  
  .intro button:hover {
    background-color:aquamarine;
    color:black;
    cursor:pointer;
  }
  
  .gif img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .about-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin: 4rem 3rem 5rem 3rem;
    background-color: #1c1c1c;
    border-radius: 13px;
  }
  
  .picture {
    width: 50%;
  }
  
  .picture img {
   width: 100%;
   border-radius: 50%;
  }
  
  .information {
    margin: 0rem;
    padding: 0rem;
    width: 50%;
  }
  
  .information > h3 {
    color: aquamarine;
  }
  
  .information h1 {
    color: whitesmoke;
  }
  
  .information p {
    color: whitesmoke;
  }
  
  h2 {
    color: rgb(4, 255, 4);
  }
  
  .skills-section {
    text-align: center;
    margin: 10rem 0rem 0rem 0rem;
  }
  
  .myskills {
    text-align: center;
  }
  
  .myskills h3 {
    color: aquamarine;
  }
  
  .myskills h1 {
    color: whitesmoke;
  }
  
  .info p {
    color: #9c9c9c;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skills p {
    margin: 5px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
  }
  
  @media screen and (max-width: 768px) {
    .skills {
      flex-direction: column;
      align-items: center;
    }
  }
  
  
  .projects-section {
    text-align: center;
    margin: 10rem 0rem 0rem 1rem;
  }
  
  .projects-section h3 {
    color: aquamarine;
  }
  
  .projects-section h1 {
    color: whitesmoke;
  }
  
  .projects-section p {
    color: #9c9c9c;
    font-size: large;
  }
  
  .project1,
  .project2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 3rem 4rem 3rem;
  }
  
  .project1-img,
  .project2-img {
    flex: 1 1 300px;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .project1-img img,
  .project2-img img {
    width: 100%;
  }
  
  .briefing,
  .briefing2 {
    flex: 1 1 300px;
    text-align: left;
    margin: 0rem 1.5rem 0rem 1rem;
    font-size: xx-large;
  }
  
  .briefing h1,
  .briefing2 h1 {
    color: #333;
    margin: 0rem;
    margin-left: 1rem;
  }
  
  .briefing h22,
  .briefing2 h22 {
    color: aquamarine;
    margin: 0rem;
    padding: 0%;
    margin-left: 1rem;
  }
  
  .briefing p,
  .briefing2 p {
    margin: 10px 0;
    color: whitesmoke;
    font-size: medium;
    margin-left: 1rem;
  }
  
  .briefing span,
  .briefing2 span {
    background-color: #333;
    color: whitesmoke;
    margin: 2rem 0rem 0rem 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: medium;
  }
  
  .briefing a,
  .briefing2 a {
    color: whitesmoke;
    margin: 2rem 0rem 0rem 2rem;
  }
  
  .briefing a:hover,
  .briefing2 a:hover {
    color: aquamarine;
    text-decoration: none;
  }
  
  .contact-section {
    margin: 10rem 0rem 0rem 0rem;
    text-align: center;
  }
  
  .contact-section h3 {
    color: aquamarine;
    font-family: monospace;
  }
  
  .contact-section h1 {
    color: whitesmoke;
    font-family: monospace;
  }
  
  .contact-section p {
    color: #9c9c9c;
    font-family: monospace;
  }
  
  .contact-section a {
    color: whitesmoke;
    font-family: monospace;
  }
  
  .contact-section a:hover {
    color: aquamarine;
  }
  
  .last {
    background-color: #333;
    color: whitesmoke;
    padding: 1rem;
  }
  
  .last span {
    padding: 1rem;
  }
  
  .links {
    text-align: right;  
  }
  
  .links > a {
    color: whitesmoke;
    font-family: monospace;
  }
  
  .links button {
    background-color: #333;
    border: none;
    color: whitesmoke;
    font-family: monospace;
    padding-left: 1rem;
  }
  
  .links button:hover {
    color: aquamarine;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .project1,
    .project2 {
      flex-direction: column;
    }
  
    .project1-img,
    .project2-img,
    .briefing,
    .briefing2 {
      flex-basis: auto;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }
  
